-e git+http://github.com/sunlightlabs/billy.git#egg=billy
scrapelib>=0.8.0

# @see https://github.com/sunlightlabs/billy/blob/master/requirements.txt
Django>1.4,<1.5
requests>=1.0,<2.0
django-appconf
django-pjax
lxml>=2.2
psycopg2
South

-e git+http://github.com/rhymeswithcycle/represent-boundaries.git#egg=represent-boundaries
-e git+http://github.com/sunlightlabs/openstates.git#egg=openstates
