-e git+http://github.com/sunlightlabs/billy.git#egg=billy

# @see https://github.com/sunlightlabs/billy/blob/master/requirements.txt
Django>=1.4
django-appconf
django-pjax
lxml>=2.2
psycopg2
South

-e git+http://github.com/rhymeswithcycle/represent-boundaries.git#egg=represent-boundaries
-e git+http://github.com/sunlightlabs/openstates.git#egg=openstates
