{% extends "billy/web/public/base.html" %}
{% block content %}
<div class="hero-unit">
  <h1>Open Government: Local</h1>
  <p>Legislative information from local governments in the United States</p>
</div>

<div class="row">
  <div class="span6">
    <p><i class="icon-user icon-large"></i> Legislators</p>
    <p><a class="btn" href="/pa-philadelphia/legislators">View details &raquo;</a></p>
  </div>
  <!--div class="span6">
    <h2><i class="icon-large icon-file"></i> Bills</h2>
    <p><a class="btn" href="/pa-philadelphia/bills">View details &raquo;</a></p>
  </div-->
</div>
<!--
<hr>
<div class="row">
  <div class="span6">
    <h2><i class="icon-comment-alt icon-large"></i> Transcripts</h2>
    <p><a class="btn" href="/pa-philadelphia/speeches">View details &raquo;</a></p>
  </div>
  <div class="span6">
    <h2><i class="icon-group icon-large"></i> Committees</h2>
    <p><a class="btn" href="/pa-philadelphia/committees">View details &raquo;</a></p>
  </div>
</div>
-->
{% endblock %}
